certifi
chardet
cycler
h5py
idna
keras
keras-applications
keras-preprocessing
kiwisolver
matplotlib
numexpr
numpy
opencv-python
pandas
phue
Pillow
pygame
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
six
soco
tables
urllib3
xmltodict
nbformat
tensorflow
